@import 'variables';
@import 'mixins';
/* General Rules */
.lato {
  font-family: 'Lato', sans-serif;
}

.hundred {
  height: 100vh;
}

/* Structure */
body {
  margin: 0;
  padding: 0;
}

.content {
  height: 100vh;
}

.documentation {
  padding-top: 35px;
}

.sidebar {
  color: white;
  background: linear-gradient(400deg, #00BCD4, #01579B);
  box-shadow: 2px 2px 2px #c9c9c9;
  position: fixed;
  padding: 35px 0 0 0;
  height: 100%;

  h2 {
    margin-top: 30px;
    margin-bottom: 70px;
    font-family: 'Tangerine', cursive;
    letter-spacing: 3px;
    text-align: center;
  }

  .ribbon {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 65px;
    width: 65px;
    margin-bottom: 50px;
  }

  .navigation {
    text-align: center;
    ul {
      margin: 0;
      list-style: none;
      li {
        a {
          text-decoration: none;
          color: white;
          transition: 0.2s;
          &:hover {
            color: #C9C9C9;
            transition: 0.2s;
          }
        }
      }
    }
  }
}

.documentation {
  height: auto;
  overflow-y: scroll;

  .installation {
    pre {
      max-width: 615px;
      font-size: 12px;
      code {
        max-width: 800px;
      }
    }
  }

  .getting-started {
    pre {
      max-width: 650px;
      code {
        max-width: auto;
      }
    }
  }

  .structure {
    pre {
      max-width: 650px;
      code {
        max-width: 650px;
      }
    }
  }

  .running {
    pre {
      max-width: 120px;
      code {
        max-width: 650px;
      }
    }
  }

  .generator {
    pre {
      max-width: 250px;
      code {
        max-width: 650px;
      }
    }
  }

  .landing {
    pre {
      max-width: 278px;
    }
  }

  .secondary-structure {
    pre {
      max-width: 400px;
    }
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    pre { margin-right: 15px;}
  }
}
